.bounce-up {
    animation: bounce-up 2.5s infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

.bounce-up:hover {
    animation-play-state: paused;
}

@keyframes bounce-up {
    0% {
        transform: translateY(0);
    }
    5% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(5px);
    }
    15% {
        transform: translateY(5px);
    }
    20% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(5px);
    }
    35% {
        transform: translateY(5px);
    }
    40% {
        transform: translateY(0);
    }
    45% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0);
    }
    55% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(0);
    }
    65% {
        transform: translateY(5px);
    }
    70% {
        transform: translateY(5px);
    }
    75% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(0);
    }
    85% {
        transform: translateY(5x);
    }
    90% {
        transform: translateY(5px);
    }
    95% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

.bounce-down {
    animation: bounce-down 2.5s infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

.bounce-down:hover {
    animation-play-state: paused;
}

@keyframes bounce-down {
    0% {
        transform: translateY(0);
    }
    5% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(-5px);
    }
    15% {
        transform: translateY(-5px);
    }
    20% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-5px);
    }
    35% {
        transform: translateY(-5px);
    }
    40% {
        transform: translateY(0);
    }
    45% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0);
    }
    55% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(0);
    }
    65% {
        transform: translateY(-5px);
    }
    70% {
        transform: translateY(-5px);
    }
    75% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(0);
    }
    85% {
        transform: translateY(-5x);
    }
    90% {
        transform: translateY(-5px);
    }
    95% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}